{% extends 'fornecedores/base.html'%}

{% block conteudo %}
<form action="{% url 'editar_fornecedor' fornecedor_id %}" method="post">
    {% csrf_token %}
    <div class="Conteiner">
        <div class="form">
                <div class="form-header">
                    <div class="title">
                        <div class="text-center">
                            <h1 class="text-2xl font-bold py-3 text-white">
                                Edição de Fornecedor
                            </h1>
                        </div>
                    </div>
                </div>

          </div>
      </div>
        <div class="flex justify-center">
            <div class="flex flex-col input w-full p-5 xl:p-0 xl:w-1/2 space-y-5">
                {% for field in form %}
                <div class="imput-box">
                    <label class="text-white font-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input name="{{ field.name }}" type="text" placeholder=" Digite o nome" required class="w-full h-8 border border-black rounded-md" {{ field }}>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'listagem_fornecedor'%}" class="bg-blue-500 hover:bg-blue-700 w-28 text-white font-bold py-2 px-4 rounded">Cancelar</a>

                    <button class="bg-blue-500 px-4 py-2 w-28 rounded text-white font-bold hover:bg-blue-700 ml-5">
                        Gravar
                    </button>
                </div>
    
            </div>
        </div>
</form>
{% endblock %}

